@media screen and (max-width: 600px) {
    
    .flex-card{
        flex-direction: column;
        gap: 7px;
        margin-top: 1.5rem;
    }
    
    .container-fluid{
        flex-direction: column;
        margin-top: 53rem;

    }
    .what-we-do-text{
        width: 100%;
    }
    .progressbar-container{
        width: 100%;
    }
    .btn-sm{
        margin: 2px;
    }
   
    .choose-container{
        margin-top: 33rem;
    }
    
    .idea-container{
        flex-direction: column;
        margin-top: 2rem;
        
    }
    .idea-text-container{
        width: 95%;
    }
    .idea-img-container{
        width: 100%;
    }
     .idea-img-container img{
        margin-top: 0px;
     } 
         .service-card-container{
        flex-direction: column;
        height: 100%;
    } 
     .card{
        margin: 15px; 
    }
    .newsletter-container{
        flex-direction: column;
        padding: 1rem;
       
    }
    .newsletter-label input{
        height: 2rem;
        width: 9rem;
    }
    .newsletter-label button{
        height: 2rem;
        width: 4.5rem;
    }
    .testimonal-section{
        flex-direction: column;
        margin-top: 10rem;
        height: 80vh;
    }
    .section p{
       padding-right: 4rem;
      
    }
    .blog-card{
        flex-direction: column;
    }
    .main-container{
        flex-direction: column;
        margin-top: 70rem;
    }
    .map-container iframe{
        width: 80%;
    }
    .form-container{
        width: 40%;
        padding: 1rem;
    }
    .form-container input{
        width: 300px;
    }
    .form-container textarea{
        width: 300px;
    }
    
