*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body{
    background-color: #ffffff;
}

/* nav-bar=============== */
.nav-item a:hover{
    text-decoration: underline;
    background-color: rgba(234, 234, 234, 0.664);
    border-radius: 1rem;
    font-size: 17px;
    font-weight:500 ; 
}
/* carousel-section */
.carousel-caption h1{
    font-size: 4.3rem;
    color: black;
   
}
.carousel-caption p{
    color: black;
    font-weight: 600;

}
.carousel-item img{
    height:80vh;
    
}
.btn-info{
    border-radius: 2rem;
    color: white;
    font-weight: 600;
    width: 10rem;
    height: 2.5rem;
    background-color: #0272CC;
    border: none;
    
}
/* key-features-section*/
.fluid-container{
    height: 10vw;
   
}
.fluid-container h1{
    font-weight: 600;
    text-align: center;
    margin-top: 3rem;
    
}
span{
    color:#0272CC;
    
}
/* card-section */
.flex-card{
    display: flex;
    justify-content: space-evenly;
    height: 28vw;
    align-items: center;
  
}
.card{
    box-shadow: 0px 0px 10px 0px rgb(164, 162, 162) ;
    height: 18rem;
    padding-top: 3rem ;
}
.card-img-top{
    height: 80px;
    width: 80px;
    margin-left: 5rem;  
}
.card-body p{
    color:#929292;
}

/* what we do section */
.container-fluid{
    height: 35vw;
    align-items: center;
    display: flex;
    justify-content: space-around;
    
}
.btn-sm{
    background-color: #0272CC;
    border-radius: 2rem;
}
.what-we-do-text{
    width: 45vw;
}
.progressbar-container{
    width: 45vw;
 
}
.progressbar-container p{
    font-weight: 600;
    margin-top: 1rem;
}
/* choose-container */
.choose-container{
    height: 5vw;
}
.choose-container h1{
    font-weight: 600;
    text-align: center;
    margin-top: 3rem;
}
/* idea-point-scetion */
.idea-container{
    height: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.idea-text-container{
    width: 45%;
}
.idea-text-container >h6{
    color: #0272CC;
    font-size: 1.5rem;
    font-weight: 400;
}
.idea-text-container p{
    color: #929292;
}

.idea-img-container{
    width: 50%;
    height: 37vw; 
    
}
.idea-img-container img{
    width: 100%;
    margin-top: 4rem;
}
/* our-service-card */
.service-card-container{
   display: flex;
   justify-content: space-evenly; 
   height: 30vw;
   align-items: center;
}
.card-body i{
    font-size: 2.5rem;
    color: #0272CC;
}
/* video-container */
.video-container iframe{
  width: 100%;  
}
/*newsletter-container  */

.newsletter-container{
    height: 15vw;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    /* background-color: #e7e3e3; */
    
}
.newsletter-text h4{
    color: #0272CC;
    font-size: 2.3rem;
}
.newsletter-label input{
   height: 2.5rem;
   border: 0.5px solid #bab9b9;
   padding: 5px;
}
.newsletter-label button{
    height: 2.5rem;
    border: none;
    background-color: #0272CC;
    color: #ffffff;
    position: relative;
    right: 4px;
}
/* testimonal-section */
.testimonal-section{
    height: 25vw;
   background-image: url('images/sunset-7898466_1280.jpg');
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
}
.section p{
    /* width: 80%; */
    text-align: center;
   margin-left: 2rem;
   color: #ffffff;
}
 /* .section i{
    font-size: 3rem;
    color: #0272CC;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-color: #f4ecec;
    position: relative;
    left:33rem; 
} */
/* blog-card */
.blog-card{
    display: flex;
    height: 47vw;
    /* background-color: #0272CC; */
    align-items: center;
    justify-content: space-evenly;
}
#card-img-top{
    height: 180px;
    width: 285px;
    padding: 2px;
}
/* info-section */
.main-container{
    display: flex;
    justify-content: space-between;
    height: 43vw;
    
}
.map-container{
    width: 40%;
    margin-top: 2rem;
}
.form-container{
    width: 40%;
}
form{
    display:flex;
    flex-direction: column;
    text-transform: capitalize;
    gap: 1rem;

}
label{
    font-size: 1rem;
    color: grey;
    font-weight: 600;
    color: #0272CC;


}
input{
    height: 40px;
    width: 450px;
    
    
}
textarea{
    color: grey;
    padding-right: 20px;
}

.form-container button{
    height: 3rem;
    width: 10rem;
    background-color: #0272CC;
    color: #ffffff;
    border: none;
    border-radius: 30px;
}
/* footer-section */
footer{
    height: 6vw;
    background-color: rgb(29, 29, 29);
    color: #ffffff;

}
footer p{
    text-align: center;
    padding-top: 1.5rem;
    }



